<div class="container">
    <div class="row">
      <div class="col">
        <section>
          <form class="form-horizontal" novalidate [formGroup]="gestionVehiculoForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                <label>Placa</label>
                <input type="text"
                       class="form-control toUppercase"
                       maxlength="6"
                       formControlName="placa"
                       placeholder="Digite la placa del vehiculo"
                       id="placa"
                       >

                <button type="submit" class="btn btn-primary"  [disabled]="!gestionVehiculoForm.valid" name="consultar">Consultar</button>
              </div>
              
 
            </fieldset>

            <fieldset>
              <div class="form-group">
                  <label>Placa</label>
                  <input type="text"
                         class="form-control"
                         formControlName="placa"                         
                         disabled>
                    
              </div>

              <div class="form-group" >
                  <label for="select">Tipo Vehiculo</label>
                  <select id="select" class="form-control"
                  formControlName="tipoVehiculo" disabled>
                      <option>CARRO</option>
                      <option>MOTO</option>                  
                    </select>
                 
                </div>
    
                <div class="form-group" >
                    <label>Fecha ingreso</label>
                    <input type="datetime"
                           class="form-control"
                           formControlName="fechaIngreso"
                           disabled>
                   
                  </div>
      
                  <div class="form-group">
                      <label>Fecha Salida</label>
                      <input type="datetime"                      
                             class="form-control"
                             formControlName="fechaSalida"                             
                             disabled >
                  </div>

                  <div class="form-group">
                      <label>Valor Pagar</label>
                      <input type="number"
                             class="form-control"
                             formControlName="valorPagar"
                             id="valorPagar"
                             disabled>
                  </div>

            </fieldset>
            
            <div id="mensaje" class="alert alert-secondary" role="alert" *ngIf="submitted == true">
              <p>
                {{messageService}}
              </p>
            </div>
 
 
            <!--<pre>{{gestionVehiculoForm.value | json}}</pre>-->
              
          </form>
        </section>
      </div>
    </div>
  </div>