<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>  
</div>

<nav class="navbar navbar-dark bg-dark mb-8">
    <a class="navbar-brand" href="/">Home</a>
    <div class="navbar-expand mr-auto ">
      <div class="navbar-nav">    
        <a class="nav-item nav-link" routerLink="/vehiculo" routerLinkActive="active">Vehiculos parqueados</a>
        <a class="nav-item nav-link" routerLink="/vehiculo/create" routerLinkActive="active">Registrar ingreso Vehiculo</a>  
        <a class="nav-item nav-link" routerLink="/vehiculo/salida" routerLinkActive="active">Registrar salida Vehiculo</a>  
      </div>
    </div>
  </nav>

<app-tcrm></app-tcrm>

<div class="panel-body">    
  <router-outlet></router-outlet>
</div>

