<div class="container" id="vehiculos">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-12">
              <h4>Vehiculos</h4>
            </div>            
          </div>
        </header>
      </section>

      <section class="main" >

        <table class="table">
          <caption>Vehiculos en el parqueadero</caption>
          <thead class="thead-light">
          <tr>
            <!-- <th>#</th> -->
            <th>Placa</th>
            <th>Tipo Vehiculo</th>
            <th>Fecha ingreso</th>
            
          </tr>
          </thead>

          <tbody>
              <tr *ngFor="let vehiculo of vehiculos">
                  <!-- <th scope="row">{{vehiculo.secuenciaParqueoVehiculo}}</th> -->
                  <td>{{vehiculo.placa}}</td>
                  <td>{{vehiculo.tipovehiculo}}</td>
                  <td>{{vehiculo.fechaingreso | date:'medium'}}</td>         
                  
              </tr>
          </tbody>
        </table>
        
      </section>
    </div>
  </div>
</div>